.profile-image {
    width: 5vh;
    height: 6vh;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-letter {
    color: white;
    font-weight: bold;
}